@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
        <b class="row">Módulo Cuestionarios:</b>

        Este Módulo del Pitsor ejecuta los Cuestionarios Expertos para la seleccion del Sor adecuado
        en el Campo/Yacimiento Seleccionado, solo en aquellos pozos que previamente han sido visualizados
        y a los cuales se le hayan calculado los Sor por los diferentes métodos Aplicados.
    </p>
</div>
